
.card {
    /* background-color: #40407a; */
    /* background-color: #2d3436; */
    /* background-color: #273c75;  */
    /* background-color: #192a56; */
    background-color: #353b48;
}

.text-muted {
    color: wheat !important;
}