p, h1, h2, h3, h4, h5, h6, button {
    font-family: "Roboto", serif;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: #222230;
    background-size: cover;
    width: auto; 
    overflow-x: hidden;
    font-family: "Roboto", serif;
    margin: 0px;
}

img{
    height:350px;
    
}

#sliderContainer{
    width: 500px;
    margin:auto; 
}

.profile {
    background-color: #222230 !important;
    text-align: center;
    height: 60vh;
    margin-bottom: 50px;
    
}

.profile h1 {
    font-size: 50px;
    font-weight: 700;
    color: white;
}

.profile h2 {
    font-size: 20px;
    font-weight: 700;
    color: white;
    position: absolute; 
    padding-left: 400px;
    z-index: 1;
    
}

.profile img {
        border-radius: 50%;
        max-width: 100%;
        max-height: 100%;
        margin-left: auto;
        margin-right: auto;
        display: block;        
        padding: 20px;
}

.profile .profile-picture {
    margin-bottom: 30px;
    height: 200px;
}


.titleIntro {
    /* top:50%; 
    position:absolute; 
    padding-left: 200px;
    z-index: 1; */


    color: white;
    position: relative;
    padding-left: 250px;
    top: 60%;
    width: 16em;   
    border-right: 2px solid rgba(255, 255, 255, 0.75);
    font-size: 180%;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;transform: translateY(-50%);
}

/* make responsive */
 .anim-type {
    border-right: .15em solid white;
    white-space: nowrap;
    
    letter-spacing: .15em;
    animation: animated-text 4s steps(29,end) 1s 1 normal both,
               animated-cursor 600ms steps(29,end) infinite normal;

}

@keyframes animated-text{
    from{width: 0;}
    to{width: 820px;}
}

@keyframes animated-cursor{
    from{border-right-color: white;}
    to{border-right-color: transparent;}
} 



#sub-nav{
    top: 30%;
    list-style: none;
    right: 20%;
    position:absolute;
    font-size: 20px;
    font-weight: 300;
    text-align: center;
    border-left: 3px solid white;

}

.slideAnim{
    animation: transitionIn 0.9s;
}

@keyframes transitionIn {
    from {
        opacity:0;
    }

    to {
        opacity:1;
    }

}

li{
    margin:10px;
    padding-left: 5px;
}

a{
    color:wheat;
    text-decoration: none;
    
}

a:hover {
    color: white;
  }


.intro {
    height: 100vh;
    z-index: 1;
}



#about {
    color: white;
    position: center;
    z-index: 1;
    padding-top: 50px;
    padding-right: 200px;
    padding-bottom: 50px;
    padding-left: 200px;
}

#experience {
    color: white;
    position: center;
    z-index: 1;
    padding-top: 50px;
    padding-right: 200px;
    padding-bottom: 50px;
    padding-left: 200px;
}

#projects {
    color: white;
    position: center;
    z-index: 1;
    padding-top: 50px;
    padding-right: 200px;
    padding-bottom: 50px;
    padding-left: 200px;
}

#contact {
    color: white;
    position: center;
    z-index: 1;
    padding-top: 50px;
    padding-right: 200px;
    padding-bottom: 50px;
    padding-left: 200px;
}

.footer {
    background-color:#6a6a92;
}





