p, h1, h2, h3, h4, h5, h6, button {
    font-family: "Roboto", serif;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: #222230;
    background-size: cover;
    width: auto; 
    overflow-x: hidden;
    font-family: "Roboto", serif;
    margin: 0px;
}

img{
    height:350px;
    
}

#sliderContainer{
    width: 40vw;
    margin:auto; 
}

@media (max-width: 650px) {
    #sliderContainer {
        width: 100%;
    }
}

.words {
    font-size: 75px!important;
}

.hello-container {
    position: center;
    padding-left: 15vw;
    padding-top: 300px;
    

}

@media (max-width: 1450px) {
    .words {
        padding-top: 200px!important;
        font-size: 0.5em!important;

        /* hide text */
        /* text-indent: 100%;
        white-space: nowrap;
        overflow: hidden; */
    }
}

@media (max-width: 1450px) {
    .hello-container {
        padding-top: 100px;
        padding-left: 12vw;
        font-size: 30px!important;

    }
}


.profile {
    background-color: #222230 !important;
    text-align: center;
    height: 60vh;
    margin-bottom: 50px;
    
}

.profile h1 {
    top: 30%;
    font-size: 50px;
    font-weight: 700;
    color: white;
}

.profile h2 {
    font-size: 20px;
    font-weight: 700;
    color: white;
    position: center; 
    left: 5%;
    z-index: 1;
    top:45%;
    
}

.profile img {
        border-radius: 50%;
        max-width: 100%;
        max-height: 100%;
        margin-left: auto;
        margin-right: auto;
        display: block;        
        padding: 20px;
}

.profile .profile-picture {
    margin-bottom: 30px;
    height: 200px;
}


.titleIntro {
    color: white;
    position: relative;
    top: 60%;
    width: 16em;   
    border-right: 2px solid rgba(255, 255, 255, 0.75);
    font-size: 180%;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;transform: translateY(-50%);
}

 .anim-type {
    border-right: .15em solid white;
    white-space: nowrap;
    
    letter-spacing: .15em;
    animation: animated-text 2s steps(29,end) 1s 1 normal both,
               animated-cursor 600ms steps(29,end) infinite normal;

}

@keyframes animated-text{
    from{width: 0;}
    to{width: 710px;}
}

@keyframes animated-cursor{
    from{border-right-color: transparent;}
    to{border-right-color: transparent;}
} 

@media (max-width: 1450px) {
    @keyframes animated-text {
        from{width: 0;}
        to{width: 400px;}
    }
}


#sub-nav{
    top: 200px;
    list-style: none;
    right: 20%;
    position: absolute;
    font-size: 20px;
    font-weight: 300;
    text-align: center;
    border-left: 3px solid white;

}

@media (max-width: 1450px) {
    #sub-nav {
        top: 300px;
        right: 60%;
        left: 40%;
        
    }
}

.slideAnim{
    animation: transitionIn 0.9s;
}

@keyframes transitionIn {
    from {
        opacity:0;
    }

    to {
        opacity:1;
    }

}

li{
    margin:10px;
    padding-left: 5px;
}

a{
    color:wheat;
    text-decoration: none;
    
}

a:hover {
    color: white;
  }


.intro {
    height: 100vh;
    z-index: 1;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    
}

#about {
    color: white;
    position: center;
    z-index: 1;
    padding-top: 50px;
    padding-right: 15vw;
    padding-bottom: 50px;
    padding-left: 15vw;
}

@media (max-width: 650px) {
    #about {
        padding-right: 8vw;
        padding-left: 8vw;
    }
}

#experience {
    color: white;
    position: center;
    z-index: 1;
    padding-top: 50px;
    padding-right: 15vw;
    padding-bottom: 50px;
    padding-left: 15vw;
}

@media (max-width: 650px) {
    #experience {
        padding-right: 8vw;
        padding-left: 8vw;
    }
}

#projects {
    color: white;
    position: center;
    z-index: 1;
    padding-top: 50px;
    padding-right: 15vw;
    padding-bottom: 50px;
    padding-left: 15vw;
}

@media (max-width: 650px) {
    #projects {
        padding-right: 8vw;
        padding-left: 8vw;
    }
}

#contact {
    color: white;
    position: center;
    z-index: 1;
    padding-top: 50px;
    padding-right: 200px;
    padding-bottom: 50px;
    padding-left: 200px;
}

