<body>

  <h1>About</h1>
  <p>Cake or pie? I can tell a lot about you by which one you pick. 
      It may seem silly, but cake people and pie people are really different. 
      I know which one I hope you are, but that's not for me to decide. So, 
      what is it? Cake or pie?
      She looked at her little girl who was about to become a teen. 
      She tried to think back to when the girl had been younger but 
      failed to pinpoint the exact moment when she had become a little 
      too big to pick up and carry. It hit her all at once. She was no longer 
      a little girl and she stood there speechless with fear, sadness, and pride 
      all running through her at the same time.</p>

      <br>
      
      
 
<div id="sliderContainer">
  <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="static/img/logo.jpg" class="d-block w-100" alt="logo">
      </div>
      <div class="carousel-item">
        <img src="static/img/logo.jpg" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="static/img/logo.jpg" class="d-block w-100" alt="...">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</div>

<br>





  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>

</body>
