<style>
    div.slide-right {
      width:100%;
      overflow:hidden;
      background-color: #222230;
    }
    div.slide-right p {
      animation: 1s slide-right;
    }
    
    @keyframes slide-right {
      from {
        margin-left: -100%;
        width: 300%; 
      }
    
      to {
        margin-left: 0%;
        width: 100%;
      }
    }
</style>

<body>
    <br>
    <div class="card" data-aos="fade-right">
        <div class="card-body" style="color: white;">
        
          <h5 class="card-title" style="font-size: 20px">Technical Courses at UBC</h5>
          <h6 class="card-subtitle mb-2 text-muted"  style="font-size: 13px">JUNE 2020 - PRESENT</h6>
          <br>
          <p class="card-text" style="color: #b2bec3;">
            CPSC 103 - Introduction to Systematic Program Design 
            <span class="badge bg-secondary">Python</span> <br><br>
            CPSC 110 - Computation, Programs, and Programming 
            <span class="badge bg-secondary">Racket</span> <br><br>
            CPSC 121 - Models of Computation <br><br>
            COMM 205 - Introduction to Management Information Systems 
            <span class="badge bg-secondary">Tableau</span>
            <span class="badge bg-secondary">R/R Studio</span> <br><br>
            CPSC 210 - Software Contstruction 
            <span class="badge bg-secondary">Java</span> 
            <span class="badge bg-secondary">OOP</span> <br><br>
            CPSC 213 - Introduction to Computer Systems 
            <span class="badge bg-secondary">C</span>
            <span class="badge bg-secondary">Assembly</span>
            <span class="badge bg-secondary">Java</span> <br><br>
            CPSC 221 - Basic Algorithms and Data Structures  
            <span class="badge bg-secondary">C++</span> <br><br>
            CPSC 304 - Introduction to Relational Databases  
            <span class="badge bg-secondary">SQL</span> <br><br>
            CPSC 310 - Introduction of Software Engineering  
            <span class="badge bg-secondary">Javascript</span> <br><br>
        </p>
        </div>
      </div>
<br>


  <!-- </div> -->



    
</body>