<style>
    div.slide-right {
      width:100%;
      overflow:hidden;
      background-color: #222230;
    }
    div.slide-right p {
      animation: 1s slide-right;
    }
    
    @keyframes slide-right {
      from {
        margin-left: -100%;
        width: 300%; 
      }
    
      to {
        margin-left: 0%;
        width: 100%;
      }
    }
</style>

<body>
    <div class="card" data-aos="fade-right">
        <div class="card-body" style="color: white;">
        
          <h5 class="card-title" style="font-size: 20px">Major League Hacking | DevOps Internship</h5>
          <h6 class="card-subtitle mb-2 text-muted"  style="font-size: 13px">Remote | JUNE 2021 - AUGUST 2021</h6>
          <p class="card-text" style="color: #b2bec3;">
            • Built a scalable, containerized Flask website with a postgres database deployed with AWS server
            <br>
            • Set up a CI/CD pipeline through GitHub Actions and monitored the website with cAdvisor by running a bash script automatically upon deployment
            <br>
            • Administered, configured, and upgraded Linux systems and infrastructure
            <br>
              <br>
              <span class="badge bg-secondary">Python</span>
              <span class="badge bg-secondary">Flask</span>
              <span class="badge bg-secondary">AWS</span>
              <span class="badge bg-secondary">Docker</span>
              <span class="badge bg-secondary">Kubernetes</span>
              <span class="badge bg-secondary">nginx</span>
              <span class="badge bg-secondary">CI/CD</span>
              <span class="badge bg-secondary">Github Actions</span>
              <span class="badge bg-secondary">Linux</span>
              <span class="badge bg-secondary">cAdvisor</span>
              <span class="badge bg-secondary">Tmux</span>
              <span class="badge bg-secondary">PostgreSQL</span>
              <span class="badge bg-secondary">Gunicorn</span>
              <span class="badge bg-secondary">Prometheus</span>
              <span class="badge bg-secondary">Grafana</span>

        </p>
        </div>
      </div>
<br>
      <div class="card" data-aos="fade-right">
        <div class="card-body" style="color: white;">
        
          <h5 class="card-title" style="font-size: 20px">UBC BizTech  |  Design Director</h5>
          <h6 class="card-subtitle mb-2 text-muted"  style="font-size: 13px">Vancouver, BC | APRIL 2021 - PRESENT</h6>
          <p class="card-text" style="color: #b2bec3;">
            • Designed and implemented frontend React websites for BizTech events pages 
            <br>
            • Conceptualized and created graphics for BizTech’s events and social media promotions using Figma and Adobe Photoshop
            <br>
              <br>
              <span class="badge bg-secondary">Figma</span>
              <span class="badge bg-secondary">Adobe Photoshop</span>
              <span class="badge bg-secondary">HTML</span>
              <span class="badge bg-secondary">CSS</span>
              <span class="badge bg-secondary">ReactJS</span>
        
        </p>
        </div>
      </div>

<br>
      <div class="card" data-aos="fade-right">
        <div class="card-body" style="color: white;">
        
          <h5 class="card-title" style="font-size: 20px">FPS Food Process Solutions Corporation  |  Data Analyst</h5>
          <h6 class="card-subtitle mb-2 text-muted"  style="font-size: 13px">Richmond, BC | JULY 2019 - AUGUST 2019</h6>
          <p class="card-text" style="color: #b2bec3;">
            • Took part in the implementation of a newly programmed ERP system by preparing reports 
            and spreadsheets of inventory balances, price lists, shortages, and product sheets
            <br>
            • Researched discrepancies between inventory reports and on-hand inventory by taking 
            part in physical counts and working through Excel spreadsheets
            <br>
              <br>
              <span class="badge bg-secondary">Microsoft Excel</span>
              <span class="badge bg-secondary">ERP</span>
              <span class="badge bg-secondary">Visual Basic</span>
              
        </p>
        </div>
      </div>

<br>
      <div class="card" data-aos="fade-right">
        <div class="card-body" style="color: white;">
        
          <h5 class="card-title" style="font-size: 20px">Self-employed  |  Piano Teacher</h5>
          <h6 class="card-subtitle mb-2 text-muted"  style="font-size: 13px">Self-Employed | 2015 - 2018</h6>
          <p class="card-text" style="color: #b2bec3;">
            
            <br>
              <br>
              <span class="badge bg-secondary">Other stuff</span>
              <span class="badge bg-secondary">Other stuff</span>
              <span class="badge bg-secondary">Other stuff</span>
              <span class="badge bg-secondary">Other stuff</span>
        </p>
        </div>
      </div>
  <!-- </div> -->



    
</body>