<body>
    <div class="card">
        <div class="card-body" style="color: black;">
        
          <h5 class="card-title" style="font-size: 20px">Ayesha's Bakery</h5>
          <h6 class="card-subtitle mb-2 text-muted"  style="font-size: 13px">2020</h6>
          <p class="card-text" style="color: black;">
            Cake or pie? I can tell a lot about you by which one you pick. 
            It may seem silly, but cake people and pie people are really different. 
            I know which one, but that's not for me to decide. So, 
            what is it? Cake or pie?
            She looked at her little girl who was about to become a teen. 
            She tried to think back to when the girl had been younger but 
            failed to pinpoint the exact moment when she had become a little 
            too big to pick up and carry.
        </p>
        </div>
      </div>
<br>
      <div class="card">
        <div class="card-body" style="color: black;">
        
          <h5 class="card-title" style="font-size: 20px">Janelle's UBC office</h5>
          <h6 class="card-subtitle mb-2 text-muted"  style="font-size: 13px">2021</h6>
          <p class="card-text" style="color: black;">
            Cake or pie? I can tell a lot about you by which one you pick. 
            It may seem silly, but cake people and pie people are really different. 
            I know which one I hope you are, but that's not for me to decide. So, 
            what is it? Cake or pie?
            She looked at her little girl who was about to become a teen. 
            She tried to think back to when the girl had been younger but 
            failed to pinpoint the exact moment when she had become a little 
            too big to pick up and carry.
        </p>
        </div>
      </div>



    
</body>