<div class="footer-basic">
    <footer>
        <div class="social">
            <a href="#"><i class="icon ion-social-linkedin"></i></a>
            <a href="https://github.com/ayesha133/MLH-Flask-Portfolio"><i class="icon ion-social-github"></i></a>
            <a href="#"><i class="icon ion-social-twitter"></i></a>
            <a href="#"><i class="icon ion-social-facebook"></i></a>
        </div>
     
        <hr style="margin: auto" id="break_line">
    
        <p class="copyright">Ayesha Arshad & Janelle Wong © 2021</p>
    </footer>
</div>