<div class="footer-basic">
    <footer>
        <div class="social">
            <a href="https://www.linkedin.com/in/janellewong999/"><i class="icon ion-social-linkedin"></i></a>
            <a href="https://github.com/janellewong"><i class="icon ion-social-github"></i></a>
            <a href="#"><i class="icon ion-social-twitter"></i></a>
            <a href="https://www.facebook.com/janellerox78/"><i class="icon ion-social-facebook"></i></a>
        </div>
     
        <hr style="margin: auto" id="break_line">
    
        <p class="copyright">made with &#128151; by Janelle Wong © 2021</p>
    </footer>
</div>