<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/frontpage.css') }}" />
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta property="og:title" content="Personal Portfolio">
    <meta property="og:description" content="My Personal Portfolio">
    <meta property="og:url" content="{{ url }}">

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link
        href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
        rel="stylesheet">

    <link lang='sass' rel="stylesheet" href="./static/styles/main.css">
    <link rel='icon' href='./static/img/favicon.ico' type='image/x-icon' />
    <title>{{ title }}</title>
</head>


<body>

    <div class="background">
        <header class="profile">
            <div id= titleIntro> 
            <h1>Hello! I'm Bob</h1>
            <h2>Welcome to my Portfolio</h2>
            </div>
    
        <ul id= sub-nav>
            <li>
                <a href="#about">About</a>
            </li>
    
            <li>
                <a href="#experience">Experience</a>
            </li>
    
            <li>
                <a href="#projects">Projects</a>
            </li>
    
            <li>
                <a href="#contact">Contact</a>
            </li>
    
        </ul> 
    
        </header>

        <video id=videobg autoplay loop muted>
            <source src="{{ url_for('static', filename='purplevid.mp4') }}" type="video/mp4">
        </video>


    </div>

    

    {% if section %}
    <script>
        $(function() {
           $("html, body").animate({ scrollTop: $("#{{ about }}").offset().top }, 500);
        });
    </script>
    {% endif %}

    {% if section %}
    <script>
        $(function() {
           $("html, body").animate({ scrollTop: $("#{{ experience }}").offset().top }, 500);
        });
    </script>
    {% endif %}

    {% if section %}
    <script>
        $(function() {
           $("html, body").animate({ scrollTop: $("#{{ projects }}").offset().top }, 500);
        });
    </script>
    {% endif %}

    {% if section %}
    <script>
        $(function() {
           $("html, body").animate({ scrollTop: $("#{{ contact }}").offset().top }, 500);
        });
    </script>
    {% endif %}

    <div>
        <div id="container">
            <div id="about"><h1>About</h1>

            </div>




            <div id="experience"><h1>Experience</h1></div>
            <div id="projects"><h1>Projects</h1></div>
            <div id="contact"><h1>Contact</h1></div>

        </div>
    </div>



</body>
</html>