{% extends "index.html" %}


{% block content %}

<br>
<div class="login">
    <div class="card" data-aos="fade-right">
        <div class="paddingl">
            <div class="card-body" style="color: white;">
            
            <h5 class="login-words" style="font-size: 20px">Log In</h5>
            <br>
            <p class="card-text" style="color: #b2bec3;">

            </p>

            <div class="form-floating mb-3">
                <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
                <label for="floatingInput">Email address</label>
            </div>
            <div class="form-floating">
                <input type="password" class="form-control" id="floatingPassword" placeholder="Password">
                <label for="floatingPassword">Password</label>
            </div>

            </div>
            <br><br>
            <div class=button-padding>
                <div class="col-12">
                    <button class="btn btn-primary" type="submit">Log In</button>
                </div>
            </div>
        </div>

    </div>
</div>
<br>
{% endblock %}

