<body>
    <br>
    <div data-aos="fade-right">
    <div class="accordion" id="accordionPanelsStayOpenExample" >
        <div class="accordion-item">
          <h2 class="accordion-header" id="panelsStayOpen-headingOne">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true" aria-controls="panelsStayOpen-collapseOne">
              <h5>Personal Website</h5>
              <h5 style="margin-left: 36em;" id="projectYear">2021</h5>
            </button>
          </h2>
          <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show" aria-labelledby="panelsStayOpen-headingOne">
            <div class="accordion-body">
              What you are looking at right now. 
              <br>
              <br>
              <span class="badge bg-secondary">Python</span>
              <span class="badge bg-secondary">Flask</span>
              <span class="badge bg-secondary">HTML</span>
              <span class="badge bg-secondary">CSS</span>
              <span class="badge bg-secondary">aws</span>
              <span class="badge bg-secondary">Docker</span>
              <span class="badge bg-secondary">nginx</span>
              <span class="badge bg-secondary">CI/CD</span>
              <span class="badge bg-secondary">Github Actions</span>
              
            </div>
          </div>
        </div>
        <br>

        <div class="accordion-item">
          <h2 class="accordion-header" id="panelsStayOpen-headingTwo">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false" aria-controls="panelsStayOpen-collapseTwo">
                <h5>StreetEats</h5>
                <h5 style="margin-left: 36em;" id="projectYear">2021</h5>
            </button>
          </h2>
          <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingTwo">
            <div class="accordion-body">
              <br>
              A Flask website with a python backend & a postgreSQL database that 
              allow the user to register and login, track their location and 
              suggest restaurant recommendations nearby with an API. 
              It allows the user to add/delete restaurants to lists, 
              and friend other users to see their food lists. It is deployed with 
              an AWS CentOS server using nginx as a reverse proxy. Implemented CI/CD on 
              GitHub, containerized with Docker, and monitored with cAdvisor, Prometheus and Grafana. 
              <br>
              <br>
              <span class="badge bg-secondary">Python</span>
              <span class="badge bg-secondary">Flask</span>
              <span class="badge bg-secondary">postgreSQL</span>
              <span class="badge bg-secondary">HTML</span>
              <span class="badge bg-secondary">CSS</span>
              <span class="badge bg-secondary">AWS</span>
              <span class="badge bg-secondary">GitHub Actions</span>
              <span class="badge bg-secondary">Docker</span>
              <span class="badge bg-secondary">Prometheus</span>
              <span class="badge bg-secondary">Grafana</span>
              <span class="badge bg-secondary">Bootstrap</span>



            </div>
          </div>
        </div>

        <br>
        
        <div class="accordion-item">
          <h2 class="accordion-header" id="panelsStayOpen-headingThree">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseThree" aria-expanded="false" aria-controls="panelsStayOpen-collapseThree">
                <h5>The Shoppies</h5>
                <h5 style="margin-left: 36em;" id="projectYear">2021</h5>
            </button>
          </h2>
          <div id="panelsStayOpen-collapseThree" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingThree">
            <div class="accordion-body">
              <br>
              A React website mirroring the Grammy nominations that allows the user 
              to search up movies from an API, add, delete, and save their favourite 
              movies to their nomination list with a backend JSON server. No more 
              than 5 nominations are allowed to be made by each user 
              and users can’t nominate a movie twice.
              <br>
              <br>
              <span class="badge bg-secondary">ReactJS</span>
              <span class="badge bg-secondary">Javascript</span>
              <span class="badge bg-secondary">HTML</span>
              <span class="badge bg-secondary">CSS</span>
              <span class="badge bg-secondary">NodeJS</span>
              <span class="badge bg-secondary">JSON</span>

            </div>
          </div>
        </div>
        <br>
        <div class="accordion-item">
            <h2 class="accordion-header" id="panelsStayOpen-headingFour">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseFour" aria-expanded="false" aria-controls="panelsStayOpen-collapseFour">
                  <h5>Calorie Counter</h5>
                  <h5 style="margin-left: 36em;" id="projectYear">2020</h5>
              </button>
            </h2>
            <div id="panelsStayOpen-collapseFour" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingFour">
              <div class="accordion-body">
                A user-friendly desktop object-oriented java application with a Swing GUI 
                that can track the food intake of the user every meal, 
                set calorie goal limits and save their food journey with a JSON server
                <br>
                <br>
                <span class="badge bg-secondary">Java</span>
                <span class="badge bg-secondary">Swing</span>
                <span class="badge bg-secondary">JSON</span>
  
              </div>
            </div>
          </div>

        </div>
        


</body>